// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.logo{
    height: 25px;
}
.turquoise{
    color: $turquoise;
}

.nav-link.border.turquoise:hover {
    color: $turquoise;
    border-color: #999999 !important;
}


@media (max-width: 768px) {
    .login-m {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


