// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

* {
    font-family: "IBM Plex Sans", sans-serif;
}

img {
    max-width: 100%;
}


.logo {
    height: 25px;
}

.turquoise {
    color: $turquoise;
}

.nav-link.border.turquoise:hover {
    color: $turquoise;
    border-color: #999999 !important;
}


.dropdown-menu.turquoise {
    background-color: #00cdbc;
}

.dropdown-menu .dropdown-item {
    color: white;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    color: white;
    background-color: #009c99;
}

.nav-link.dropdown-toggle.turquoise {
    color: #00cdbc;
}

.nav-link.dropdown-toggle.turquoise:hover {
    color: #009c99;
}

@media (max-width: 768px) {
    .login-m {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}