// Variables
@import 'variables';

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.logo {
    height: 25px;
}

.turquoise {
    color: $turquoise;
}

.btn-outline-turquoise {
    color: $turquoise;
    background: transparent;
    border-radius: 5px;
    border: 1px solid $turquoise;
}
.btn-outline-turquoise:hover {
    color: $white;
    background: $turquoise;
    border-radius: 5px;
}

.btn-turquoise {
    color: black    ;
    background-color: $turquoise;
    border-radius: 5px;
}
.btn-turquoise:hover {
    color: black    ;
    background-color: $turquoise;
    opacity: 90%;
    border-radius: 5px;
}

.input-instruction{
    display: none;
    color: gray;
    font-size: 10px;
    font-style: italic;
    margin: 10px 0;

}
input::placeholder{
    font-size: 12px;
    font-style: italic;
    filter: opacity(0.5);
}
textarea::placeholder{
    font-size: 12px;
    font-style: italic;
    filter: opacity(0.5);
}

input:focus + .input-instruction {
    display: block; /* Display input instruction in input focus */
}

input:focus + .error-message{
    display: none; /* Hiden input error messsage in input focus */

}
