// Variables
@import 'variables';

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.logo {
    height: 25px;
}
.turquoise {
    color: $turquoise;
}

.bg-header {
    background-color: $turquoise;
    color: white;
}

.btn-turquoise {
    background-color: #00cdbc;
    color: #fff;
    border: none;
}

.btn-turquoise:hover {
    background-color: #00b3a5;
}

.nav-link.border.turquoise:hover {
    color: $turquoise;
    border-color: #808080 !important;
}


@media (max-width: 768px) {
    .login-m {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}



