// Variables
@import 'variables';

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.logo {
    height: 25px;
}
.turquoise {
    color: $turquoise;
}

.bg-header {
    background-color: $turquoise;
    color: white;
}

.btn-turquoise {
    background-color: #00cdbc;
    color: #fff;
    border: none;
}

.btn-turquoise:hover {
    background-color: #00b3a5;
}

.nav-link.border.turquoise:hover {
    color: $turquoise;
    border-color: #808080 !important;
}

input::placeholder {
    font-size: 12px;
    font-style: italic;
    filter: opacity(0.5);
}

textarea::placeholder {
    font-size: 12px;
    font-style: italic;
    filter: opacity(0.5);
}

.input-instruction {
    display: none;
    color: gray;
    font-size: 10px;
    font-style: italic;
    margin: 10px 0;

}
input:focus+.input-instruction {
    display: block;
    /* Display input instruction in input focus */
}

.navbar-brand:hover{
    color: $turquoise !important;
}


@media (max-width: 768px) {
    .login-m {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}



